<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles1.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <div th:replace="admin/layout/header"></div>
  <body class="sb-nav-fixed">
    <div id="layoutSidenav">
      <div th:replace="admin/layout/sidebar"></div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Manage User</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">
                <a th:href="@{/admin}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Users</li>
            </ol>

            <div class="mt-5">
              <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                  <h3>Create a User</h3>
                  <hr />

                  <form
                    th:action="@{/admin/user/create}"
                    th:object="${newUser}"
                    method="post"
                    enctype="multipart/form-data"
                    class="row"
                  >
                    <!-- Email -->
                    <div class="mb-3 col-12 col-md-6">
                      <label class="form-label">Email:</label>
                      <input
                        type="email"
                        th:field="*{email}"
                        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                        class="form-control"
                        autocomplete="off"
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"
                      ></div>
                    </div>

                    <!-- Password -->
                    <div class="mb-3 col-12 col-md-6">
                      <label class="form-label">Password:</label>
                      <input
                        type="password"
                        th:field="*{password}"
                        th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                        class="form-control"
                        autocomplete="off"
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}"
                      ></div>
                    </div>

                    <!-- Phone -->
                    <div class="mb-3 col-12 col-md-6">
                      <label class="form-label">Phone number:</label>
                      <input
                        type="text"
                        th:field="*{phone}"
                        class="form-control"
                        autocomplete="off"
                      />
                    </div>

                    <!-- Full name -->
                    <div class="mb-3 col-12 col-md-6">
                      <label class="form-label">Full name:</label>
                      <input
                        type="text"
                        th:field="*{fullName}"
                        th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid' : ''"
                        class="form-control"
                        autocomplete="off"
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('fullName')}"
                        th:errors="*{fullName}"
                      ></div>
                    </div>

                    <!-- Address -->
                    <div class="mb-3 col-12">
                      <label class="form-label">Address:</label>
                      <input
                        type="text"
                        th:field="*{address}"
                        class="form-control"
                        autocomplete="off"
                      />
                    </div>

                    <!-- Role -->
                    <div class="mb-3 col-12 col-md-6">
                      <label class="form-label">Role:</label>
                      <select class="form-select" th:field="*{role.name}">
                        <option value="STUDENT">STUDENT</option>
                        <option value="TEACHER">TEACHER</option>
                        <option value="ADMIN">ADMIN</option>
                      </select>
                    </div>

                    <!-- Avatar -->
                    <div class="mb-3 col-12 col-md-6">
                      <label for="avatarFile" class="form-label">Avatar:</label>
                      <input
                        class="form-control"
                        type="file"
                        id="avatarFile"
                        accept=".png, .jpg, .jpeg"
                        name="anhFile"
                      />
                    </div>

                    <!-- Avatar Preview -->
                    <div class="col-12 mb-3">
                      <img
                        loading="lazy"
                        style="max-height: 500px; display: none"
                        alt="avatar preview"
                        id="avatarPreview"
                      />
                    </div>

                    <!-- Submit -->
                    <div class="col-12 mb-5">
                      <button type="submit" class="btn btn-primary">
                        Create
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div th:replace="admin/layout/footer"></div>
      </div>
    </div>
    <script>
      document
        .getElementById("avatarFile")
        .addEventListener("change", function (event) {
          const input = event.target;
          const preview = document.getElementById("avatarPreview");

          if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
              preview.src = e.target.result;
              preview.style.display = "block";
            };

            reader.readAsDataURL(input.files[0]); // Đọc file ảnh và gán vào src
          } else {
            preview.style.display = "none";
            preview.src = "";
          }
        });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts1.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/demo/chart-area-demo1.js"></script>
    <script src="/assets/demo/chart-bar-demo1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/datatables-simple-demo1.js"></script>
  </body>
</html>
