<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles1.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <div th:replace="admin/layout/header"></div>
  <body class="sb-nav-fixed">
    <div id="layoutSidenav">
      <div th:replace="admin/layout/sidebar"></div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">User</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">User</li>
            </ol>

            <div class="mt-5">
              <div class="row">
                <div class="col-12 mx-auto">
                  <div class="d-flex justify-content-between">
                    <h3>Table User</h3>
                    <a
                      th:if="${permissions.contains('GET /admin/user/create')}"
                      th:href="@{/admin/user/create}"
                      class="btn btn-primary"
                      >Create a User</a
                    >
                  </div>
                  <hr />
                  <table class="table table-bordered table-hover table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="user, stat : ${users}">
                        <td th:text="${stat.count}">1</td>
                        <td th:text="${user.email}">user@example.com</td>
                        <td th:text="${user.fullName}">Nguyễn Văn A</td>
                        <td>
                          <span th:each="r : ${user.roles}">
                            <span
                              th:text="${r.name}"
                              class="badge bg-info"
                            ></span
                            ><br />
                          </span>
                        </td>

                        <td>
                          <a
                            th:if="${permissions.contains('GET /admin/user/{id}')}"
                            th:href="@{'/admin/user/' + ${user.id}}"
                            class="btn btn-success"
                            >View</a
                          >
                          <a
                            th:if="${permissions.contains('GET /admin/user/update/{id}')}"
                            th:href="@{'/admin/user/update/' + ${user.id}}"
                            class="btn btn-warning mx-2"
                            >Update</a
                          >
                          <a
                            th:if="${permissions.contains('GET /admin/user/delete/{id}')}"
                            th:href="@{'/admin/user/delete/' + ${user.id}}"
                            class="btn btn-danger"
                            >Delete</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- Pagination -->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a
                          class="page-link"
                          th:classappend="${currentPage == 1} ? ' disabled'"
                          th:href="@{'/admin/user/group/STAFF?page=' + ${currentPage - 1}}"
                          aria-label="Previous"
                        >
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>

                      <li
                        class="page-item"
                        th:each="i : ${#numbers.sequence(1, totalPages)}"
                      >
                        <a
                          class="page-link"
                          th:classappend="${i == currentPage} ? ' active'"
                          th:href="@{'/admin/user/group/STAFF?page=' + ${i}}"
                          th:text="${i}"
                          >1</a
                        >
                      </li>

                      <li class="page-item">
                        <a
                          class="page-link"
                          th:classappend="${currentPage == totalPages} ? ' disabled'"
                          th:href="@{'/admin/user/group/STAFF?page=' + ${currentPage + 1}}"
                          aria-label="Next"
                        >
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div th:replace="admin/layout/footer"></div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts1.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/datatables-simple-demo1.js"></script>
  </body>
</html>
