<div>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a
      class="navbar-brand ps-3"
      th:href="${session.role == 'ADMIN' ? '/admin' : '/admin/exam'}"
    >
      Start Bootstrap
    </a>

    <!-- Sidebar Toggle-->
    <button
      class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
      id="sidebarToggle"
      href="#!"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <form
      class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
    ></form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center text-white"
          id="navbarDropdown"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="gap: 12px"
        >
          <img
            th:src="@{/uploads/images/avatars/{img}(img=${session.avatar})}"
            alt="avatar"
            class="rounded-circle shadow"
            width="42"
            height="42"
            style="object-fit: cover"
          />
          <div class="text-start">
            <div
              th:text="${session.email}"
              style="font-size: 1rem; font-weight: 500"
            >
              email@example.com
            </div>
            <div
              th:text="${session.role}"
              class="text-light"
              style="font-size: 0.85rem"
            >
              ROLE
            </div>
          </div>
        </a>

        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <li><a class="dropdown-item" href="/">Trang chủ</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <form id="logoutForm" th:action="@{/logout}" method="post">
              <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
              />
              <a
                class="dropdown-item"
                href="#"
                onclick="document.getElementById('logoutForm').submit(); return false;"
              >
                Logout
              </a>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <body></body>
</div>
