<div>
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>

          <!-- Dashboard chỉ PRINCIPAL mới xem được -->
          <div sec:authorize="hasRole('PRINCIPAL')">
            <a class="nav-link" href="/admin">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Dashboard
            </a>
          </div>

          <!-- User: ADMIN, PRINCIPAL -->
          <div sec:authorize="hasAnyRole('ADMIN','PRINCIPAL')">
            <a class="nav-link" href="/admin/user">
              <div class="sb-nav-link-icon">
                <i class="fas fa-user"></i>
              </div>
              User
            </a>
          </div>

          <!-- Exam, Course, Send Mail, Email: SUBJECT_TEACHER, PRINCIPAL -->
          <div sec:authorize="hasAnyRole('SUBJECT_TEACHER','PRINCIPAL')">
            <a class="nav-link" href="/admin/exam">
              <div class="sb-nav-link-icon">
                <i class="fas fa-file-alt"></i>
              </div>
              Exam
            </a>
            <a class="nav-link" href="/admin/course">
              <div class="sb-nav-link-icon">
                <i class="fas fa-book"></i>
              </div>
              Course
            </a>
          </div>

          <!-- Class, Test: ACADEMIC_AFFAIRS, SUBJECT_TEACHER, PRINCIPAL -->
          <div sec:authorize="hasAnyRole('ACADEMIC_AFFAIRS', 'PRINCIPAL')">
            <a class="nav-link" href="/admin/class">
              <div class="sb-nav-link-icon">
                <i class="fas fa-users"></i>
              </div>
              Class
            </a>
            <a class="nav-link" href="/admin/test">
              <div class="sb-nav-link-icon">
                <i class="fas fa-clipboard-check"></i>
              </div>
              Test
            </a>
            <a class="nav-link" href="/admin/school-year">
              <div class="sb-nav-link-icon">
                <i class="fas fa-calendar-alt"></i>
              </div>
              Niên khóa
            </a>
            <a class="nav-link" href="/admin/grade">
              <div class="sb-nav-link-icon">
                <i class="fas fa-layer-group"></i>
              </div>
              Khối
            </a>
            <a class="nav-link" href="/admin/subject">
              <div class="sb-nav-link-icon">
                <i class="fas fa-book"></i>
              </div>
              Môn học
            </a>
          </div>

          <div sec:authorize="hasAnyRole('HOMEROOM_TEACHER')">
            <a class="nav-link" href="/admin/class">
              <div class="sb-nav-link-icon">
                <i class="fas fa-users"></i>
              </div>
              Class
            </a>

            <a class="nav-link" href="/admin/test">
              <div class="sb-nav-link-icon">
                <i class="fas fa-clipboard-check"></i>
              </div>
              Test
            </a>
          </div>
          <div sec:authorize="hasAnyRole('SUBJECT_TEACHER','PRINCIPAL')">
            <a class="nav-link" href="/admin/send-mail">
              <div class="sb-nav-link-icon">
                <i class="fas fa-envelope"></i>
              </div>
              Send Email
            </a>
            <a class="nav-link" href="/admin/email">
              <div class="sb-nav-link-icon">
                <i class="fas fa-inbox"></i>
              </div>
              Receive Email
            </a>
          </div>

          <!-- Activity Log: PRINCIPAL -->
          <div sec:authorize="hasAnyRole('ADMIN', 'PRINCIPAL')">
            <a
              class="nav-link"
              target="_blank"
              href="http://localhost:3000/auditlogs"
            >
              <div class="sb-nav-link-icon">
                <i class="fas fa-clipboard-list"></i>
              </div>
              Activity Log
            </a>
          </div>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
      </div>
    </nav>
  </div>
</div>
