<div>
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div th:if="${permissions.contains('GET /admin')}">
            <a class="nav-link" href="/admin">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Dashboard
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/user')}">
            <a class="nav-link" href="/admin/user">
              <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
              User
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/role')}">
            <a class="nav-link" href="/admin/role">
              <div class="sb-nav-link-icon">
                <i class="fas fa-user-shield"></i>
              </div>
              Role
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/permission')}">
            <a class="nav-link" href="/admin/permission">
              <div class="sb-nav-link-icon"><i class="fas fa-key"></i></div>
              Permission
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/school-year')}">
            <a class="nav-link" href="/admin/school-year">
              <div class="sb-nav-link-icon">
                <i class="fas fa-calendar-alt"></i>
              </div>
              Niên khóa
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/subject')}">
            <a class="nav-link" href="/admin/subject">
              <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
              Môn học
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/subject-department')}">
            <a class="nav-link" href="/admin/subject-department">
              <div class="sb-nav-link-icon">
                <i class="fas fa-layer-group"></i>
              </div>
              Tổ bộ môn
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/teacher')}">
            <a class="nav-link" href="/admin/teacher">
              <div class="sb-nav-link-icon">
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
              Giáo viên
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/class')}">
            <a class="nav-link" href="/admin/class">
              <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
              Class
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/grade')}">
            <a class="nav-link" href="/admin/grade">
              <div class="sb-nav-link-icon">
                <i class="fas fa-layer-group"></i>
              </div>
              Khối
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/course')}">
            <a class="nav-link" href="/admin/course">
              <div class="sb-nav-link-icon">
                <i class="fas fa-book-open"></i>
              </div>
              Course
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/exam')}">
            <a class="nav-link" href="/admin/exam">
              <div class="sb-nav-link-icon">
                <i class="fas fa-file-alt"></i>
              </div>
              Exam
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/test')}">
            <a class="nav-link" href="/admin/test">
              <div class="sb-nav-link-icon">
                <i class="fas fa-clipboard-check"></i>
              </div>
              Test
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/send-mail')}">
            <a class="nav-link" href="/admin/send-mail">
              <div class="sb-nav-link-icon">
                <i class="fas fa-envelope"></i>
              </div>
              Send Email
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/email')}">
            <a class="nav-link" href="/admin/email">
              <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>
              Receive Email
            </a>
          </div>

          <div th:if="${permissions.contains('GET /admin/auditlog')}">
            <a
              class="nav-link"
              target="_blank"
              href="http://localhost:3000/auditlogs"
            >
              <div class="sb-nav-link-icon">
                <i class="fas fa-clipboard-list"></i>
              </div>
              Activity Log
            </a>
          </div>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
      </div>
    </nav>
  </div>
</div>
