<div>
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <div sec:authorize="hasRole('ADMIN')">
            <a class="nav-link" href="/admin">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Dashboard
            </a>
            <a class="nav-link" href="/admin/user">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              User
            </a>
          </div>

          <!-- Hiển thị khi có ROLE_TEACHER hoặc ROLE_ADMIN -->
          <div sec:authorize="hasAnyRole('ADMIN','TEACHER')">
            <a class="nav-link" href="/admin/exam">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Exam
            </a>
            <a class="nav-link" href="/admin/class">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Class
            </a>
            <a class="nav-link" href="/admin/test">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Test
            </a>
            <a class="nav-link" href="/admin/course">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Course
            </a>
            <a class="nav-link" href="/admin/sold">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              course sold
            </a>
          </div>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
      </div>
    </nav>
  </div>
</div>
