<div>
  <section class="slider-area">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12">
              <div class="hero__caption">
                <h1 data-animation="fadeInLeft" data-delay="0.2s">
                  Nền Tảng Thi và<br />
                  Học Trực Tuyến
                </h1>
                <p data-animation="fadeInLeft" data-delay="0.4s">
                  Xây dựng kỹ năng với các khóa học, chứng chỉ và bằng cấp trực
                  tuyến từ các trường đại học và công ty đẳng cấp thế giới
                </p>
                <a
                  href="/courses"
                  class="btn hero-btn"
                  data-animation="fadeInLeft"
                  data-delay="0.7s"
                  >Tham gia ngay</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ? services-area -->
  <div class="services-area">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-30">
            <div class="features-icon">
              <img src="/img/icon/icon1.svg" alt="" />
            </div>
            <div class="features-caption">
              <h3>60+ khóa học</h3>
              <p>
                Khám phá hơn 60 khóa học thuộc nhiều lĩnh vực từ cơ bản đến nâng
                cao.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-30">
            <div class="features-icon">
              <img src="/img/icon/icon2.svg" alt="" />
            </div>
            <div class="features-caption">
              <h3>Giảng viên là chuyên gia</h3>
              <p>
                Đội ngũ giảng viên dày dặn kinh nghiệm, luôn sẵn sàng đồng hành
                cùng bạn.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-30">
            <div class="features-icon">
              <img src="/img/icon/icon3.svg" alt="" />
            </div>
            <div class="features-caption">
              <h3>Truy cập trọn đời</h3>
              <p>
                Học bất cứ lúc nào, không giới hạn thời gian hay số lần truy
                cập.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
